ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 99%;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
img {
    position: absolute;
    left: 15px;
    top: 59px;
}
#firstname {
  position: absolute;
  left: 700px;
  top: 70px;
  font-family: "Didot", Times, serif;
  font-size: 150px;
  color: #924053;
}
#lastname {
  position: absolute;
  left: 700px;
  top: 200px;
  font-family: "Didot", Times, serif;
  font-size: 150px;
  color: #924053;
}
body {
  background-color: #eeeeee;
}
#profpic {
  width: 1100px;
  height: auto;
  position:absolute;
  top: -70px;
  left: -150px;
}

#aboutline {
  color:#924053;
  width: 100%;
  text-align: center;
}
#aboutline2 {
  color:#924053;
  width: 100%;
  text-align: center;
}
#aboutme {
  font-size: 25px;
  font-family: "Didot", Times, serif;
  position: absolute;
  top: 655px;
  left:590px;
}
.three-columns{
	margin-top:25px;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
  -moz-column-gap: 50px; /* Firefox */
  column-gap: 180px;
}

.three-columns div{
	float:left;
	width:300px;
	margin:0px 10px;
	text-align:center;
}

.three-columns p{
	padding-bottom:5px;
  margin: auto;
  margin-right: auto;
  font-family: "Didot", Times, serif;
}

.column-icon{
	font-size:60px;
	margin-bottom:15px;
}

.column-title{
	font-size:19px;
	font-weight:700;
  color:#924053;
}
#contact {
  font-size: 25px;
  font-family: "Didot", Times, serif;
  position: absolute;
  top: 1227px;
  left:590px;
}
#contactline {
  color:#924053;
  width: 100%;
  text-align: center;
}
#contactline2 {
  color:#924053;
  width: 100%;
  text-align: center;
}
#email {
  width: 40px;
  height: auto;
  position:absolute;
  top: 1310px;
  left: 150px;
}
#gmail {
  color: #924053;
  font-size: 16px;
  font-family: "Didot", Times, serif;
  margin-left: 195px;
  margin-right: 140px;
  margin-top: 20px;
}
#phone {
  width: 25px;
  height: auto;
  position:absolute;
  top: 1310px;
  left: 450px;
}
#phonenumber {
  color: #924053;
  font-size: 16px;
  font-family: "Didot", Times, serif;
  margin-left: 495px;
  margin-right: 140px;
  margin-top: -40px;
}
#facebook {
  width: 35px;
  height: auto;
  position:absolute;
  top: 1310px;
  left: 900px;
}
#linkedin {
  width: 35px;
  height: auto;
  position:absolute;
  top: 1310px;
  left: 950px;
}
#instagram {
  width: 35px;
  height: auto;
  position:absolute;
  top: 1310px;
  left: 1000px;
}
#portfolio {
  font-size: 25px;
  font-family: "Didot", Times, serif;
  position: absolute;
  top: 935px;
  left:590px;
}
#portfolioline {
  color:#924053;
  width: 100%;
  text-align: center;
}
#portfolioline2 {
  color:#924053;
  width: 100%;
  text-align: center;
}
