h1 {
    colour: #778899;
    text-align: center;
    margin: 10;
    padding: 10;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

div {
    background-color: green;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
<div></div>
