h1 {
    color: #3b3a30;
    text-align: center;
    margin: 10;
    padding: 10;
}

h2 {
  text-align: center;
  color: #3b3a30;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    width: 110%;
}

li a {
    display: block;
    padding: 8px;
    background-color: #c5d5c5;
}
body {
    background-color: #e3e0cc;
}

