h1 {
    color: #lightslategrey;
    text-align: center;
    margin: 10;
    padding: 10;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    width: 300;
    padding: 12px;
    background-color: #dddddd;
}
