ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 99%;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
img {
    position: absolute;
    left: 15px;
    top: 59px;
}
#firstname {
  position: absolute;
  left: 700px;
  top: 70px;
  font-family: "Didot", Times, serif;
  font-size: 150px;
  color: #924053;
}
#lastname {
  position: absolute;
  left: 700px;
  top: 200px;
  font-family: "Didot", Times, serif;
  font-size: 150px;
  color: #924053;
}
body {
  background-color: #eeeeee;
}
#profpic {
  width: 1100px;
  height: auto;
  position:absolute;
  top: -70px;
  left: -150px;
}
#about {
  color: #924053;
  font-size: 16px;
  margin-left: 130px;
  margin-right: 830px;
  margin-top: 50px;
}
#aboutline {
  color:#924053;
  width: 80%;
  text-align: center;
}
#aboutline2 {
  color:#924053;
  width: 80%;
  text-align: center;
}
#aboutme {
  font-size: 25px;
  font-family: "Didot", Times, serif;
  position: absolute;
  top: 655px;
  left:590px;
}
#bio {
  color:black;
  font-size: 18px;
  font-family:"Didot", Times, serif;
  position: absolute;
  top: 715px;
  left: 220px;
}
#likes {
  color:black;
  font-size: 18px;
  font-family:"Didot", Times, serif;
  position: absolute;
  top: 715px;
  left: 608px;
}
#dislikes {
  color:black;
  font-size: 18px;
  font-family:"Didot", Times, serif;
  position: absolute;
  top: 715px;
  left: 948px;
}
#likesdes {
  color: #924053;
  font-size: 16px;
  margin-left: 500px;
  margin-right: 480px;
  margin-top: -108px;
}
#dislikesdes {
  color: #924053;
  font-size: 16px;
  margin-left: 870px;
  margin-right: 140px;
  margin-top: -142px;
}
#contact {
  font-size: 25px;
  font-family: "Didot", Times, serif;
  position: absolute;
  top: 1124px;
  left:590px;
}
#contactline {
  color:#924053;
  width: 80%;
  text-align: center;
}
#contactline2 {
  color:#924053;
  width: 80%;
  text-align: center;
}
#email {
  width: 40px;
  height: auto;
  position:absolute;
  top: 1206px;
  left: 150px;
}
#gmail {
  color: #924053;
  font-size: 16px;
  font-family: "Didot", Times, serif;
  margin-left: 195px;
  margin-right: 140px;
  margin-top: 20px;
}
#phone {
  width: 25px;
  height: auto;
  position:absolute;
  top: 1206px;
  left: 450px;
}
#phonenumber {
  color: #924053;
  font-size: 16px;
  font-family: "Didot", Times, serif;
  margin-left: 495px;
  margin-right: 140px;
  margin-top: -40px;
}
#facebook {
  width: 35px;
  height: auto;
  position:absolute;
  top: 1206px;
  left: 900px;
}
#linkedin {
  width: 35px;
  height: auto;
  position:absolute;
  top: 1206px;
  left: 950px;
}
#instagram {
  width: 35px;
  height: auto;
  position:absolute;
  top: 1206px;
  left: 1000px;
}
#portfolio {
  font-size: 25px;
  font-family: "Didot", Times, serif;
  position: absolute;
  top: 907px;
  left:590px;
}
#portfolioline {
  color:#924053;
  width: 80%;
  text-align: center;
}
#portfolioline2 {
  color:#924053;
  width: 80%;
  text-align: center;
}
